* {
  margin: 0;
  padding: 0;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
a {
  text-decoration: none;
  color:inherit;
  font-size: 18px;
}
body{
  background-color: grey;
}
.main{
  background: url('Pic/cover.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logo{
  top: 25px;
  left: 50px;
  height: 100px;
  width: 100px;
  box-shadow: 2px 5px 10px black;
  position: absolute;
}
#title{
  margin-top: 10vh;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}
h1{
  color: white;
  margin: 5px;
  font-weight: 900;
  font-size: 60px;
}
nav {
  top:25px;
  right: 0;
  width: 40%;
  position: fixed;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  height: 10vh;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edeeef;
  text-shadow: 3px 3px 8px black;
  font-size: 2px;
  }
nav li:hover{
  color: #c1c1c1;
  /*text-shadow: 1px 1px 1px white;*/
}
.whoweare{
  background: url('Pic/kids.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ourcider{
  background: url('Pic/cider.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ciderbox{
  position: absolute;
  top:210vh;
}
.ciders{
  height: 100vh;
  width: 25vw;
  background-color: rgba(128, 128, 128, 0);
}
.ciderdisc {
  position: relative;
  background-color: black;
  height: 20vh;
  width: 20vh;
  top:30vh;
  visibility: hidden;
}
.ciderdisc p {
  z-index: 4;
  color: white;
}
.contact{
  background: url('Pic/fall.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


