* {
  margin: 0;
  padding: 0;
  /*font-family: 'Mukta Mahee', sans-serif;*/
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

/**, body {
  max-width: 100%;
}*/

a {
  text-decoration: none;
  color:inherit;
  font-size: 18px;
}

body{
  background-color: #fafafa;
 /*background-color: rgba(28, 28, 29, 1);*/
}

#main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coverpage {
  height: 100vh;
  width: 100vw;
}

#logo{
  top: 25px;
  left: 50px;
  height: 100px;
  width: 100px;
  position: fixed;
  transition:all .5s;
}

.afterharvest{
  position: fixed;
  top: 2vh;
  left: 100px;
  transition:all .5s;
  opacity: 0;
}

.afterharvest span{
  font-size: 4vh;
  color: #fafafa;

}

#title{
  margin-top: 15vh;
  text-align: center;
  text-shadow: 2px 5px 5px black;
}

h1{
  color: #fafafa;
  font-weight: 900;
  font-size: 60px;
  line-height: 75px;
}

.navcontainer {
  position: fixed;
  width: 100vw;
  display: inline-flex;
  transition:all 1;
  z-index: 5;
}

nav {
  width: 40%;
  position: relative;
  margin-left:auto;
  right:0;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  height: 10vh;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edeeef;
  text-shadow: 3px 3px 8px black;
  font-size: 1vh;
}

nav li:hover{
  color: #c1c1c1;
}

.casey{
  width: 100vw;
  height:45vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.casey p {
  color: #fafafa;
  font-weight: 900;
  font-size: 60px;
  line-height: 75px;
  text-shadow: 2px 5px 5px black;
  margin-top: 20vh;
}

.buffer{
  height: 45vh;
  width: 100vw;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.bufferspacer {
  width: 80vw;
  height: 38vh;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.buffer p {
  text-align: justify;
}

.buffer p:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.page2 {
  height: 45vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.page2 h2{
  color: #fafafa;
  font-weight: 900;
  font-size: 60px;
  line-height: 75px;
  text-shadow: 2px 5px 5px black;
  margin-top: 10vh;
}

.buffer2 {
  width: 100vw;
  height: 5vh;
  background-color: #fafafa;
}

.page3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.bottlecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 80vw;
  transition: all .3s;
  overflow: hidden;
  box-shadow: 1px 1px 5px grey;

}
  .bottleInfo {
    display: none;
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    overflow: hidden;
  }

.detailDiv {
  width: 40vw;
  flex-grow: 1;
}

.bigFirst:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.mainBottlePic{
  height: 70vh;
  flex-grow: 1;
  background: url('Pic/farm.jpg') no-repeat center center;
  background-size: cover;
  float: right;
  transition: all .5s;
}

.details {
  position: relative;
}

.details h2{
  color: #fafafa;
  font-weight: 900;
  font-size: 30px;
  line-height: 25px;
  text-shadow: 2px 5px 5px black;
  margin: 10px;
  text-align: right;
}

.fullDescButton {
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 15px;
  transition: all .1s;
}

.fullDescButton h3 {
  padding: 15px;
}

.fullDescButton:hover {
  background-color:rgba(28, 28, 29, 1);
  color:#fafafa;
}

.topinfo {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.focusName {
  color: black;
  font-weight: 900;
  font-size: 30px;
  line-height: 25px;
  text-shadow: 2px 5px 5px #fafafa;
  margin: 10px;
  text-align: right;
}

.bottleselect{
  width: 150px;
  height: 70vh;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  align-items: center;
  z-index: 2;
  /*overflow: hidden;*/
  position: relative;
  overflow-y: scroll;
}

.slider{
  position: absolute;
  width: 150px;
  height: 100vh;
  background-color: grey;
  opacity: .5;
  top: 17.5vh;
}

.firstPic{
  margin-top: 10px
}

.selectPic {
  height: 70px;
  width: 70px;
  box-shadow: 2px 2px 5px black;
}

.bottleClose{
  position: absolute;
  display: none;
}

.moreInfoPic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s;
}


#contact {
  height: 45vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finalpic {
  height: 45vh;
  width: 100vw;
}

#contact h2 {
  color: #fafafa;
    font-weight: 900;
    font-size: 60px;
    line-height: 75px;
    text-shadow: 2px 5px 5px black;
    margin-top: 10vh;
}

footer {
  width: 100vw;
  height: 90vh;
  background-color: rgba(28, 28, 29, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#map {
  margin-top: 5vh;
}

#storeList{
  margin-top: 5vh;
  color: #edeeef
}
#storeList p{
  margin: 1vh;
}

.footerdiv{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #EEEEEE;
}

.contactinfo {
  width: 60%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contactinfo .partner {
  height: 100%;
}

/*.contactlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}*/

/*.contactinfo .fa {
  margin-right: 5vw;
  margin-left: 5vw;
}*/

/*.fa {
  margin: 2vw;
}

.fa:hover {
  cursor: pointer;
  color: #6fa5fc !important;
}*/


.contactinfo .fab {
  margin-right: 5vw;
  margin-left: 5vw;
}

.fab {
  margin: 2vw;
}

.fab:hover {
  cursor: pointer;
  color: #6fa5fc !important;
}



.partner {
  border-left: 2px solid black;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partner h2 {
  font-size: 4vh;
  font-weight: 900px;
  margin-bottom: 2vh;
}

#partner {
  width: 25vw;
}

.created {
}

/*.contactinfo h2 {
  font-weight: 900px;
  font-size: 4vh;
}*/

span {
  font-size: 2vh;
}

.matt {
  font-size: 2.5vh;
  font-weight: 1000px;
}

.matt:hover {
  color: #55acee;
}

